@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
   font-family: "Work Sans", sans-serif;
}

.aboutContainer{
   display: flex;
   align-items: center;
   gap: 20px;
   text-align: center;
   margin-top: 50px;
   margin-left: 50px;
   
}

.aboutContainer img{
   width:600px ;
   height: 400px;
}

.aboutDetails h1{
   font-size: xx-large;
}

.aboutDetails p{
   margin-top: 20px;
}

.followBorder{
   margin-top: 30px;
}

.socialIcon {
   margin-top: 30px;
}
.socialIcon a{
   color: black;
   margin-right: 20px;
}